extends ../layout

block content
    include ../includes/header.jade
    .box
        a(href="/") &raquo; Home
        p!= row.body_markdown
        //case row.topic
            when "azure"
                p.tag.azure
            when "chrome"
                p.tag.chrome
            when "dotnet"
                p.tag.dotnet
            default
                p.tag.default
    //
        h1 Here is post info
        ul
            li= row.title
            unless row.thumbnail == ""
                li= row.thumbnail
            li= row.tags
            li= row.topic
            li= row.body_preview
            
            //- Escape incoming HTML
            li!= row.body_markdown

