extends ../layout

block content
    .box
        h1 Here is post info
        ul
            li= row.title
            li= row.thumbnail
            li= row.tags
            li= row.topic
            li= row.body_preview
            li= row.body_markdown

