extends layout

block content
    .blogs.box
        h4.center-header
        h3 Recent Posts
            ul
                mixin tag(tag)
                    p(class="tag #{tag}")
                each r, i in rows
                    +tag(r.topic)
                    li
                        a(href="/posts/#{r.friendly_url}")
                            span #{r.title}
                        p.preview #{r.body_preview}
                            span(id="date-#{i}").text-muted.fill-right
                    script.
                        var date = "#{r.date_time}";
                        date = date.split(" ");
                        date = date[1] + " " + date[2] + " " + date[3];
                        document.getElementById("date-#{i}").textContent = date;

