extends layout

block content
    include ./includes/header.jade
    .blogs.box
        h4.center-header
            ul.topics
                //- Doesn't work right because classes and the actual HTML
                //- content don't always match (dotnet -> .NET, azure -> Azure)
                //- mixin filter(topic)
                //-     li
                //-         span(class="#{topic}")
                //-             a(href="/#{topic}").filter #{topic}
                //- +filter("azure")
                //- +filter("azure")
                li
                    a(href="/filter/azure").filter
                        span.azure Azure
                li
                    a(href="/filter/chrome").filter 
                        span.chrome Chrome
                li
                    a(href="/filter/dotnet").filter 
                        span.dotnet .NET
                li
                    a(href="/filter/default").filter 
                        span.default Default
                li
                    a(href="/").filter 
                        span.default No Filter
        h3 Recent Posts
            ul
                each r, i in rows
                    // consider a two column table of blog posts too?
                    case r.topic
                        when "azure"
                            p.tag.azure
                        when "chrome"
                            p.tag.chrome
                        when "dotnet"
                            p.tag.dotnet
                        default
                            p.tag.default
                    li
                        a(href="/posts/#{r.pid}")
                            span #{r.title}
                        p.preview #{r.body_preview}
